# Goal:

* To calculate b1 from the linear regression without using any machine learning inbuilt library
* To calculate b0 from the linear regression without using any machine learning inbuilt library
* To create pipeline for each step

In [1]:
#importing necessary libraries
import pandas as pd

In [5]:
#taking data
# this functions will return dataframe containing x and y
def feature_data(x,y):
    data1=pd.DataFrame(x,columns={"x"})
    data2=pd.DataFrame(y,columns={"y"})
    data=pd.concat([data1,data2],axis=1)
    return data

In [6]:
feature_data([1,2,3,4,5],[2,4,5,4,5])

   x  y
0  1  2
1  2  4
2  3  5
3  4  4
4  5  5

In [9]:
#this function returns the mean of x and y
def mean_data(x,y):
    data_mean=feature_data(x,y)
    x_mean=data_mean['x'].mean()
    y_mean=data_mean['y'].mean()
    return x_mean,y_mean

In [10]:
mean_data([1,2,3,4,5],[2,4,5,4,5])

(3.0, 4.0)

In [13]:
# this function helps in the preparation of the data for the calculation of b1 and b0 from the equation
def data_preparation(x,y):
    data_pre=feature_data(x,y)
    x_mean,y_mean=mean_data(x,y)
    data_pre['x-x_mean']=data_pre['x']-x_mean
    data_pre['y-y_mean']=data_pre['y']-y_mean
    data_pre['(x-x_mean)2']=data_pre['x-x_mean']**2
    data_pre['(x-x_mean)(y-y_mean)']=data_pre['x-x_mean']*data_pre['y-y_mean']
    return data_pre

In [14]:
data_preparation([1,2,3,4,5],[2,4,5,4,5])

   x  y  x-x_mean  y-y_mean  (x-x_mean)2  (x-x_mean)(y-y_mean)
0  1  2      -2.0      -2.0          4.0                   4.0
1  2  4      -1.0       0.0          1.0                  -0.0
2  3  5       0.0       1.0          0.0                   0.0
3  4  4       1.0       0.0          1.0                   0.0
4  5  5       2.0       1.0          4.0                   2.0

In [19]:
# This function calculates the value of b1
def calculate_b1(x,y):
    data_final=data_preparation(x,y)
    b1=(data_final['(x-x_mean)(y-y_mean)'].sum())/(data_final['(x-x_mean)2'].sum())
    print(f"The value of b1={b1}")
    return b1

In [20]:
calculate_b1([1,2,3,4,5],[2,4,5,4,5])

The value of b1=0.6

0.6

In [23]:
#Calculates of b0 from the equation
def calculate_b0(x,y):
    data_finalforb0=data_preparation(x,y)
    x_mean,y_mean=mean_data(x,y)
    b1=calculate_b1(x,y)
    b0=y_mean-(b1*x_mean)
    print(f"The value of b0={b0}")

In [22]:
calculate_b0([1,2,3,4,5],[2,4,5,4,5])

The value of b1=0.6
The value of b0=2.2

# Conclusion

In this exercise , I have calculated b1 i.e. coefficeint also called slope and b0 also called intercept in the linear regression by using python without using any inbuilt machine learning library.I have successfully created pipeline for each step for the calculation of b1 and b0 from the linear regression